.heroin_section {
  width: 90%;
  margin-left: 5%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  /* background-size: 40px 40px;
  background-image: linear-gradient (to right, grey 1px, transparent 1px),
    linear-gradient (to bottom, grey 1px, transparent 1px); */
  /* background: #244327; */
}

.boxItems {
  display: grid;
  place-content: center;
  flex-basis: 400px;
  flex-grow: 1;
}

.boxItemsName {
  /* display: grid;
  place-content: center; */
  flex-basis: 400px;
  flex-grow: 1;
}

.imgCargo {
  width: 100%;
  height: auto;
}

.nameCompany {
  font-size: 6vw;
  font-weight: 400;
  text-align: center;
}

.productDescription {
  font-weight: 200;
  text-align: center;
}

.btnVisit {
  display: grid;
  place-content: center;
  margin-top: 1em;
}

.realBtn {
  padding: 10px;
  background: #4c9b53;
  border-radius: 1em;
  cursor: pointer;
  color: #fff;
  font-weight: 200;
}

.barTitles {
  width: 90%;
  margin-left: 5%;
  display: grid;
  place-content: center;
  margin-bottom: 3em;
}

.centerItemBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.subText {
  text-align: center;
  font-weight: 200;
}

.boxImageLogo {
  display: grid;
  place-content: center;
}

.iconLogoTest {
  width: 100px;
  height: auto;
}

.BoxInfo {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  gap: 10px;
  text-align: center;
  margin-bottom: 2em;
}

.SubBoxInfo {
  flex-basis: 400px;
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.subCard p {
  font-weight: 200;
}

.boxCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 20px;
}

.subBoxCard {
  height: 100px;
  background: #e8e8e8;
  display: grid;
  place-content: center;
  cursor: pointer;
  border-radius: 1em;
}

.subBoxCard:hover {
  scale: 1.02;
}

.mainServices {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3em;
}

.titleService {
  text-align: center;
  font-weight: 200;
  font-size: 15px;
}

.barBtnBack {
  display: flex;
  justify-content: start;
  margin-bottom: 1em;
}

.btnBack {
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  border-radius: 1em;
  font-weight: 200;
}

.serviceTitle {
  margin-bottom: 1em;
}

.btnBack:hover {
  background: #eeeeee;
}

.boxIconBack {
  display: grid;
  place-content: center;
}

@media screen and (max-width: 900px) {
  .nameCompany {
    font-size: 15vw;
    text-align: center;
  }

  .subText {
    text-align: start;
  }

  .BoxInfo {
    text-align: start;
  }
}

@media screen and (min-width: 900px) {
  .boxItemsName {
    display: grid;
    place-content: center;
    flex-basis: 400px;
    flex-grow: 1;
  }
}
